# Dependances
node_modules/
jspm_packages/
web_modules/

# Cache npm et logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache

# Compilation Nuxt / Build output
.nuxt/
.output/
dist/
.env

# System files
.DS_Store
Thumbs.db
